@media screen and (max-width:1024px) {
    .UI_Container{
        display: flex;
        flex-direction: column !important;
    }

    .rightui{
        width: 100%;
    }


}


@media screen and (max-width:768px) {
    .sideDash{
        display: none;
    }

    .UI_Container{
      display: flex;
      flex-direction: column !important;
    }

    .rightui{
        width: 102%;
    }

    
  }

